
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');


* {
font-family: 'Comfortaa';
}
body {
  background-color: #e8ddd8 !important;
}
#my-brand {
  color:#f7dcc6;
  font-family: 'Comfortaa', cursive;
  font-size: 30px;
}
#brand2 {
  color:#8896cf;
  font-size: 15px;
}
.title {
  color: #1a667d;
  font-family: 'Comfortaa', cursive;
}
.my-container1 {
  background-color:#152a4a;
}
.my-container2 {
  padding: 1px;
  color: #f5d5b0;
  justify-content: space-around;
  font-size: 15px;
  background: #0f3e57;
  font-size: 12px;
}
.my-container3 {
  border: 10px;
  padding: 10px;
}
.stick {
  color:#8896cf;
}
.my-container4 {
  background-color: #f5d5b0;
}
.my-navbar {
  align-items: start;
  border: 3px ridge #f5e1f4;
}

.table.sticky th {
  position: sticky;
  top: 0;
  background-color: #152a4a;
  color: #f5d5b0;
  font-size: 13px;
}

.mytable td {
  background: #0f3e57 !important;
  color: #f5d5b0;
  font-size: 12px;
}
